.App {
  width: 100vw;
  height: 100vh;

}

.loader-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}